body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #815355;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 640px;
  height: 100vh;
  background-color: #C3B299;
  padding: 20px;
}

header {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  max-width:640px;
  background-color: #DBEBC0;
  padding: 20px;
}

/* nav {
  padding: 10px;
} */

a {
  color: #CBD4C2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

textarea {
  margin: 5px 0px 5px 0px;
  display: block;
}

