<%- include('../partials/header') %>

<form target="_blank" action="/boards" method="POST">
        <label>Name</label>
        <input type="text" name="name">
        <label>Description</label>
        <input type="text" name="description">
        <button type="submit">Create</button>
</form>

<%- include('../partials/footer') %>